/*共通*/
body{
  background-color: pink;
  text-align: center;
}

.サイト{
  text-align: left;
  display: inline-block;
}

h4{
  text-decoration: underline ;
  text-decoration-color: red;
}

h6 {
  font-weight: normal;
}

.SNS{
  margin-top: 15px;
  margin-bottom: 30px;
}

.SNS a{
  margin: 0 20px;
  text-align: center;
}

li.目次{
  font-weight: bold;
  margin-bottom: 10px;
}

.生誕委員募集 h6{
  margin-bottom: 20px;
}

span{
  font-weight: bold;
  color: red;
}

ul.caution{
  padding-left: 20px;
}






/*スマホ用*/
 @media screen and (max-width: 479px) {

.aisaka{
  height: 405px;
  width: 405px;
  margin: 0 auto;
}

h1{
  font-size: 28px;
}

h6{
  font-size: 15px;
}

ul.目次{
  margin-bottom:  10px;
}

li.目次{
  font-size: 15px;
}

.iinbosyuu{
  height: 270px;
  width: 405px;
}

.kanpabosyuu{
  height: 270px;
  width: 405px;
}


}

/*PC*/
@media screen and (min-width: 480px) {
h6{
  font-size: 18px;
}

li.目次{
  font-size: 18px;
}

h4{
  font-size: 23px;
}

.本人紹介 {
  display: inline-flex;
}

.iinbosyuu{
  height: 540px;
  width: 810px;
}

.kanpabosyuu{
  height: 540px;
  width: 810px;
}


.aisaka{
  height:400px;
  width: 400px;
  margin-left: 10px;
  margin-top: 20px;
}

.説明{
  height: 350px;
  width: 400px;
}


}
